.Header {
  @apply p-5 pl-[2rem] bg-slate-200;
  width: 100%;
  
  nav {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    
    ul {
      display: grid;
      grid-auto-flow: column;
      justify-content: left;
      align-items: center;
      gap: 1rem;
      
      li{
        cursor: pointer;
        &:hover svg {
          @apply fill-secondary;
        }        
        svg {
          @apply fill-white;
          fill: rgba($color: #000000, $alpha: .5);
        }
      }
    }
  }
  
  .User{
    @apply grid grid-cols-[auto_1fr] items-center gap-5;
    img{
      $image-size: 40px;
      width: $image-size;
      height: $image-size;
      border-radius: 50%
    }
  }
  
}